[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnalysisLin"]
	path = AnalysisLin
	url = https://github.com/zhiweilin27/analysislin
